<br><br>
<h1>NgModel</h1>

<label for="name">Name:</label>
<br>
<input type="text" [(ngModel)]="modelo">
<br>
{{modelo}}

<h1>Reactive Forms</h1>
<form [formGroup]="form" (ngSubmit)="onSubmit()">

    <label>Modelo:</label>
    <br>
    <input type="text" formControlName="modelo">
    <br>
    <small *ngIf="form.controls['modelo'].errors 
    && form.controls['modelo'].touched" style="color: rgb(255, 119, 119);">
        Campo obligatorio
    </small>
    <br>

    <label>Placa:</label>
    <br>
    <input type="text" formControlName="placa" >

    <br>
    <label>Año:</label>
    <br>
    <input type="text" formControlName="year">
    <br>
    <small *ngIf="form.controls['year'].errors 
    && form.controls['year'].touched" style="color: rgb(255, 119, 119);">
        Campo obligatorio
    </small>
    <br>

    <label>Kilometraje:</label>
    <br>
    <input type="number" formControlName="kilometraje">
    <br>
    <button pButton type="submit" >Guardar</button>
</form>

